
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

a {
    color: rgb(252, 196, 176);
};

body {
  background-color: black;
  height: 100vh;
  font-family: "Consolas", "Lucida Console", "Courier New", "Courier", "Lucida Typewriter", monospace;
}

strong {
  color: coral;
}

h1 {
  color: coral;
}
