<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spectrometry</title>
    <!-- <link rel="stylesheet" href="./overrides.css"> -->
    <link rel="stylesheet" href="{{ get_url(path='./overrides.css') }}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    <link rel="icon" type="image/jpeg" href="{{ get_url(path='./rusty-upscaled.jpeg') }}" />
</head>

<body>
    <nav class="navbar is-fixed-top has-background-grey-darker" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <img src="{{ get_url(path='./rusty-upscaled.jpeg') }}">
                &nbsp;&nbsp;
                <p style="color:coral"> Dreamykass x Spectrometry</p>
            </a>
            <a class="navbar-item has-text-white" href="/">
                Home
            </a>
            <a class="navbar-item has-text-white" href="{{ get_url(path='@/project/_index.md') }}">
                Project
            </a>
            <a class="navbar-item has-text-white" href="{{ get_url(path='@/blog/_index.md') }}">
                Blog
            </a>
        </div>
    </nav>

    <section class="section has-background-black-bis has-text-grey-light">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </section>

    <footer class="footer has-background-grey-darker has-text-grey-light">
        <div class="content has-text-centered">
            <p>
                <strong class="has-text-grey-light">Spectrometry devsite made by <a
                        href="https://github.com/Dreamykass">Dreamykass</a></strong><br>
                Site was made using <a href="https://www.getzola.org/">Zola</a>, <a href="https://bulma.io/">Bulma</a>,
                and <a href="https://code.visualstudio.com/">VS Code</a><br>
                Deployed on <a href="https://pages.github.com/">GitHub Pages</a>, on this page <a
                    href="https://dreamykass.github.io/spectrometry-devsite">here</a><br>
                Source on <a href="https://github.com/Dreamykass/spectrometry-devsite">github</a><br>
                Source code licensed <a href="https://opensource.org/licenses/mit-license.php">MIT</a><br>
                Content licensed <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA
                    4.0</a><br>
            </p>
        </div>
    </footer>
</body>

</html>